<!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Get ETH Block by Hash</title>
                <link rel="stylesheet" href="/css/style.css">
            </head>
            <body>
              <div class="schwab-container">
                  <h1>Get Ethereum Block by Hash</h1>
                  <div class="form-group">
                      <label for="blockHash">Block Hash:</label>
                      <input type="text" id="blockHash" name="blockHash" required>
                  </div>
                  <button id="getBlockBtn">Get Block</button>
                  <div class="result-container">
                      <h3>Result:</h3>
                      <pre id="blockResult"></pre>
                  </div>
              </div>
              <script src="/js/get_eth_block_by_hash_ui.js"></script>
          </body>
          </html>