<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Latest BTC Block by RPC</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Get Latest BTC Block by RPC</h1>
        <div class="result-container">
            <h2>Result:</h2>
            <pre id="bestBtcHashResult"></pre>
        </div>
    </div>
    <script src="/js/get_latest_btc_block_by_rpc_ui.js"></script>
</body>
</html>